.idea/
.npm/
.ansible
dist/
*.retry
__pycache__/
*.py[cod]
*.log
.v8flags*
.bash_history
.cache
.config
.local
.pki
roles/django-gulp-nginx-openshift/
roles/django-gulp-nginx-kubernetes/
ansible/shipit-openshift.yml
ansible/shipit-kubernetes.yml
node_modules/
ansible-deployment/
